body {
  background: pink;
}

#my-model {
  border: 3px;
  border-radius: 10px;
  width: 600px;
  height: 400px;
  margin-bottom: 20px;
}

.button {
  font-size: 24px;
  height: 60px;
  line-height: 60px;
  width: 60px;
  text-align: center;
}